pipeline/pipeline_SQL_TO_DATALAKE.json
{
	"name": "pipeline_SQL_TO_DATALAKE",
	"properties": {
		"activities": [
			{
				"name": "Copy data from sql",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_load_date",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "latest_load",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select * from @{pipeline().parameters.src_schema_name}.@{pipeline().parameters.src_tbl_name} where booking_date > '@{activity('Lookup_load_date').output.firstRow.lastload}' and \nbooking_date <= '@{activity('latest_load').output.firstRow.latestload}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_sql_source",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.src_schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.src_tbl_name",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "Dynamic_dataset_data_lake",
						"type": "DatasetReference",
						"parameters": {
							"container": {
								"value": "@pipeline().parameters.container",
								"type": "Expression"
							},
							"folder": {
								"value": "@pipeline().parameters.folder",
								"type": "Expression"
							},
							"file_name": {
								"value": "@pipeline().parameters.filename",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Lookup_load_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "df_lookup_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder_name": "monitor",
							"json_file_name": "last_load.json"
						}
					}
				}
			},
			{
				"name": "latest_load",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "select max(booking_date) as latestload from @{pipeline().parameters.src_schema_name}.@{pipeline().parameters.src_tbl_name}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_source",
						"type": "DatasetReference",
						"parameters": {
							"schema_name": {
								"value": "@pipeline().parameters.src_schema_name",
								"type": "Expression"
							},
							"table_name": {
								"value": "@pipeline().parameters.src_tbl_name",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "updatelastload",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Copy data from sql",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"additionalColumns": [
							{
								"name": "lastload",
								"value": {
									"value": "@activity('latest_load').output.firstRow.latestload",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "df_lookup_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder_name": "monitor",
							"json_file_name": "empty.json"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "df_lookup_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "bronze",
							"folder_name": "monitor",
							"json_file_name": "last_load.json"
						}
					}
				]
			}
		],
		"parameters": {
			"src_schema_name": {
				"type": "string"
			},
			"src_tbl_name": {
				"type": "string"
			},
			"container": {
				"type": "string"
			},
			"folder": {
				"type": "string"
			},
			"filename": {
				"type": "string"
			}
		},
		"variables": {
			"v_now": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-17T07:01:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}